.square {  
  background: rgb(144, 13, 205);
  border: 5px solid rgb(75, 23, 123);
  float: left;
  /* margin-right: -1px;
  margin-top: -1px; */
  margin: 5px;
  padding: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  line-height: 100px;
 }
 /* Board */
.board-row:after {
  clear: both;
  content: "";
  display: table;
 }
 /* Game */
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;  
 }
 /* Game Info */
ul {  /*  */
  padding-left: 30px;
  list-style: none;
 }
 .game-info {  /*  */
  margin-left: 20px;
 }
 .status { /*  */
  margin-bottom: 10px;
 }